body{
	font-family: Tahoma, Verdana, Segoe, sans-serif; 
	text-align: center;
}

h1{
	font-size: 8em;
}
h3{
	font-size: 5em;
}
/*.buynow{
 	background-color: 3D348B;
  	border: none;
  	color: F35B04;
  	padding: 50px 50px;
  	text-align: center;
 	text-decoration: none;
  	display: inline-block;
  	font-size: 25px;
}*/
.button{
  	box-shadow: 0 8px 16px 0 3D348B, 0 6px 20px 0 F35B04;
	background-color: 3D348B;
  	border: none;
  	color: F35B04;
  	padding: 50px 50px;
  	text-align: center;
 	text-decoration: none;
  	display: inline-block;
  	font-size: 25px;
}

.button:hover{
  	box-shadow: 0 12px 16px 0 3D348B, 0 17px 50px 0 F35B04;
	background-color: F35B04;
  	border: none;
  	color: 3D348B;
  	padding: 50px 50px;
  	text-align: center;
 	text-decoration: none;
  	display: inline-block;
  	font-size: 25px;
}
