body{
	font-family: Tahoma, Verdana, Segoe, sans-serif; 
	text-align: center;
}

h1{
	font-size: 8em;
}
h3{
	font-size: 5em;
}
/*.buynow{
 	background-color: 3D348B;
  	border: none;
  	color: F35B04;
  	padding: 50px 50px;
  	text-align: center;
 	text-decoration: none;
  	display: inline-block;
  	font-size: 25px;
}*/
.button{
  	transition-duration: 0.4s;
	background-color: #3D348B;
	font-size: 40px;
  	color: #F35B04;
	border-radius: 7px;
	padding: 20px 20px;
	border: 5px solid #3D348B;
}

.button:hover{
  	font-size: 35px;
}
