body{
	font-family: Tahoma, Verdana, Segoe, sans-serif; 
	text-align: center;
}

h1{
	font-size: 8em;
}
h3{
	font-size: 5em;
}
/*.buynow{
 	background-color: 3D348B;
  	border: none;
  	color: F35B04;
  	padding: 50px 50px;
  	text-align: center;
 	text-decoration: none;
  	display: inline-block;
  	font-size: 25px;
}*/
.buynow{
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buynow:hover{
  	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
